StackLayout {
    margin-right:25;
    margin-left:25;
}
Image {
    margin-top: 5;
    margin-bottom: 20;
}
Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    font-size: 20;
}
.submit-button {
    background-color: #1799b9;
    color: white;
    margin-top: 20;
    padding: 12 0;
}